@charset "utf-8";

/*******************************
  個別設定
*******************************/

#header {
	transition: .5s;
}

#header.onTop {
	background: transparent;
}

#header.onTop a {
	color: #fff;
}

#header img.imageOnTop {
	display: none;
}

#header.onTop img.imageOnTop {
	display: inline-block;
}

#header.onTop img.imageOnTop+img {
	display: none;
}

#mainVisual {
	display: flex;
	height: 650px;
	position: relative;
	background: url(../imgs/bg-kv.jpg) 50% 0 no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
}

#mainVisual .caution {
	display: none;
	padding: 13px 20px 13px 68px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .5) url(../imgs/ico-alert.png) 20px 50% / 30px auto no-repeat;
	border-radius: 0 10px 0 0;
	color: #fff;
	font-size: 15px;
	line-height: 22px;
}

body.translated #mainVisual .caution {
	display: block;
}

#mainVisual .catch {
	color: #fff;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
}

#mainVisual .catch img {
	display: block;
	margin: 0 auto 20px;
}

#mainVisual .catch .line--01 {
	margin: 0 0 20px;
	font-size: 60px;
	line-height: 1;
	letter-spacing: .06em;
	text-indent: .2em;
}

.mvWrapper {
	position: relative;
}

.mvWrapper .banner {
	width: 500px;
	position: absolute;
	right: 25px;
	bottom: 25px;
	line-height: 1px;
}

.mvWrapper .banner.translated {
	display: none;
}

body.translated .mvWrapper .banner.normal {
	display: none;
}

body.translated .mvWrapper .banner.translated {
	display: block;
}

.mvWrapper .banner img {
	width: 100%;
	vertical-align: top;
}

.slick-dots {
	display: flex;
	justify-content: center;
	gap: 0 10px;
	padding: 12px 0 0;
}

.slick-dots button {
	width: 13px;
	height: 13px;
	border: none;
	padding: 0;
	background: #fff;
	border-radius: 50%;
	color: transparent;
	overflow: hidden;
	opacity: .3;
}

.slick-dots .slick-active button,
.slick-dots button:hover {
	opacity: 1;
}

@media only screen and (max-width:750px) {
	#header.onTop::before {
		background: transparent;
	}

	#mainVisual {
		height: calc(100vw * 690 / 750);
		background-image: url(../imgs/bg-kv_sp.jpg);
	}

	#mainVisual .caution {
		box-sizing: border-box;
		width: 100%;
		padding: calc(100vw * 24 / 750) calc(100vw * 25 / 750) calc(100vw * 24 / 750) calc(100vw * 100 / 750);
		background-position: calc(100vw * 25 / 750) 50%;
		background-size: calc(100vw * 50 / 750) auto;
		font-size: calc(100vw * 20 / 750);
		line-height: calc(100vw * 30 / 750);
		border-radius: 0;
	}

	#mainVisual .catch {
		font-size: calc(100vw * 20 / 750);
		line-height: calc(100vw * 30 / 750);
	}

	#mainVisual .catch img {
		width: calc(100vw * 362 / 750);
		margin-bottom: calc(100vw * 24 / 750);
	}

	#mainVisual .catch .line--01 {
		font-size: calc(100vw * 60 / 750);
		margin-bottom: calc(100vw * 24 / 750);
	}

	.mvWrapper .banner {
		width: auto;
		margin: calc(100vw * 30 / 750) 0 0;
		padding: 0 calc(100vw * 25 / 750);
		position: static;
	}

	.slick-dots button {
		background: #999;
	}
}

.menu {
	padding: 65px 0;
}

.menu ul {
	display: flex;
	justify-content: space-between;
}

.menu li {
	width: 300px;
}

.menu a {
	display: block;
}

.menu .label {
	color: #999;
	font-size: 12px;
	line-height: 20px;
}

.menu .label strong {
	display: block;
	margin: 0 0 10px;
	color: #000;
	font-size: 20px;
	font-weight: normal;
}

.menu .catch {
	margin: 10px 0 0;
	line-height: 22px;
}

.menu .image {
	margin: 20px 0 0;
}

.menu .image img {
	max-width: 100%;
}

@media only screen and (max-width:750px) {
	.menu {
		padding: calc(100vw * 30 / 750) 0;
		background: #fff
			/*d9d9d9*/
		;
	}

	.menu ul {
		display: block;
	}

	.menu li {
		width: auto;
		margin: calc(100vw * 30 / 750) 0 0;
	}

	.menu li:first-child {
		margin-top: 0;
	}

	.menu a {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.menu .text {
		width: calc(100vw * 330 / 750);
	}

	.menu .label {
		font-size: calc(100vw * 22 / 750);
		line-height: 1;
	}

	.menu .label strong {
		display: block;
		margin: 0 0 calc(100vw * 12 / 750);
		font-size: calc(100vw * 36 / 750);
	}

	.menu .catch {
		margin: calc(100vw * 20 / 750) 0 0;
		font-size: 0.9em;
		line-height: calc(36 / 20);
	}

	.menu .image {
		width: calc(100vw * 350 / 750);
		margin: 0;
	}
}

#menu02 {
	background: #00549e;
}

#menu02 .label {
	color: #f5f9fb;
}

#menu02 .label strong,
#menu02 a {
	color: #fff;
}

#facebook {
	padding: 55px 0 60px;
	background: #00549e;
}

#facebook .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#facebook .image {
	width: 480px;
}

#facebook .facebook {
	width: 480px;
}

@media only screen and (max-width:750px) {
	#facebook {
		padding: calc(100vw * 60 / 750) 0 calc(100vw * 30 / 750);
	}

	#facebook .inner {
		display: block;
	}

	#facebook .image {
		width: auto;
		max-width: calc(100vw * 238 / 750);
		margin: 0 auto;
	}

	#facebook .facebook {
		width: auto;
		margin: calc(100vw * 45 / 750) 0 0;
	}
}


#main article>section {
	margin: 0;
}

#philosophy {
	border-bottom: 1px solid #eee;
	padding: 85px 0 60px !important;
}

.title {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	line-height: 1;
	text-align: center;
}

.title strong {
	display: block;
	margin: 0 0 20px;
	color: #000;
	font-size: 28px;
	font-weight: normal;
}

#philosophy section:first-of-type {
	margin: 25px 0 0;
}

#philosophy section a {
	display: block;
	padding: 45px 0;
	transition: .5s;
}

#philosophy section a:hover {
	background: #f3f6f9;
}

#philosophy section .wrap {
	display: flex;
	justify-content: space-between;
}

#philosophy section:nth-of-type(even) .wrap {
	flex-direction: row-reverse;
}

#philosophy section .image {
	width: 580px;
}

#philosophy section .text {
	width: 350px;
}

#philosophy section .subTitle {
	margin: -6px 0 0;
	color: #06348b;
	font-size: 24px;
	font-weight: normal;
	line-height: 36px;
}

body.translated #philosophy section .subTitle br {
	display: none;
}

#philosophy section a:hover .subTitle {
	text-decoration: underline;
}

#philosophy section p {
	margin: 20px 0 0;
}

#philosophy .link {
	margin: 15px 0 0;
}

@media only screen and (max-width:750px) {
	#philosophy {
		border-bottom: none;
		padding: calc(100vw * 80 / 750) 0 0 !important;
		background: #fff
			/*d9d9d9*/
		;
	}

	.title {
		font-size: calc(100vw * 18 / 750);
	}

	.title strong {
		margin: 0 0 calc(100vw * 15 / 750);
		font-size: calc(100vw * 42 / 750);
	}

	#philosophy section:first-of-type {
		margin: 0;
	}

	#philosophy section .wrap {
		display: block;
	}

	#philosophy section a {
		padding: calc(100vw * 70 / 750) 0;
	}

	#philosophy section:first-of-type a {
		padding-top: calc(100vw * 65 / 750);
	}

	#philosophy section .image {
		width: auto;
	}

	#philosophy section .text {
		width: auto;
		margin: calc(100vw * 30 / 750) 0 0;
	}

	#philosophy section .subTitle {
		margin: 0;
		font-size: calc(100vw * 36 / 750);
		line-height: calc(48 / 32);
	}

	#philosophy section p {
		margin: calc(100vw * 25 / 750) 0 0;
	}

	#philosophy .link {
		display: none;
	}
}


#service {
	padding: 55px 0 80px !important;
}

#service section {
	margin: 20px 0 0;
	background: #faf9f2;
}

#service section:first-of-type {
	margin: 35px 0 0;
}

#service a {
	display: flex;
	border: 4px solid #faf9f2;
	justify-content: space-between;
	transition: .5s;
}

#service a:hover {
	border-color: #dbeaf4;
}

#service section .text {
	width: 360px;
	padding: 26px 0 26px 26px;
}

#service section .subTitle {
	font-weight: normal;
	line-height: 1;
}

#service section .subTitle strong {
	display: block;
	margin: 0 0 10px;
	font-size: 20px;
	font-weight: normal;
}

#service section p {
	margin: 25px 0 0;
}

#service section .list {
	width: 550px;
	margin: 0 -4px 0 0;
	font-size: 12px;
	line-height: 18px;
	counter-reset: number;
}

#service section .list li {
	border-top: 1px solid #a7b5be;
	padding: 25px 35px 25px 50px;
	position: relative;
	counter-increment: number;
}

#service section .list li:first-child {
	border-top: none;
}

#service section .list li::before {
	content: counter(number);
	display: block;
	width: 30px;
	position: absolute;
	top: 20px;
	left: 0;
	background: #06348b;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}

#service section .list strong {
	display: block;
	margin: 0 0 8px;
	color: #06348b;
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
}

#service .link {
	margin: 60px 0 0;
}

@media only screen and (max-width:750px) {
	#service {
		padding: calc(100vw * 75 / 750) 0 calc(100vw * 60 / 750) !important;
		background: #fff
			/*d9d9d9*/
		;
	}

	#service section {
		margin: calc(100vw * 20 / 750) 0 0;
		padding: calc(100vw * 45 / 750) calc(100vw * 25 / 750) calc(100vw * 35 / 750)
	}

	#service section:first-of-type {
		margin: calc(100vw * 50 / 750) 0 0;
	}

	#service section a {
		display: block;
		border: none;
	}

	#service section .text {
		width: auto;
		padding: 0;
	}

	#service section .subTitle {
		font-weight: normal;
		line-height: 1;
	}

	#service section .subTitle strong {
		margin: 0 0 calc(100vw * 15 / 750);
		font-size: calc(100vw * 40 / 750);
	}

	#service section p {
		margin: calc(100vw * 25 / 750) 0 0;
		font-size: calc(100vw * 28 / 750);
		line-height: calc(34 / 24);
	}

	#service section .list {
		width: auto;
		margin: calc(100vw * 25 / 750) 0 0;
		font-size: calc(100vw * 28 / 750);
		line-height: 1.5;
	}

	#service section .list li {
		padding: calc(100vw * 20 / 750) 0 calc(100vw * 25 / 750) calc(100vw * 60 / 750);
	}

	#service section .list li:first-child {
		border-top: none;
	}

	#service section .list li::before {
		width: calc(100vw * 40 / 750);
		top: calc(100vw * 20 / 750);
		font-size: calc(100vw * 28 / 750);
		line-height: calc(100vw * 40 / 750);
	}

	#service section .list strong {
		margin: 0;
		font-size: calc(100vw * 32 / 750);
		line-height: calc(100vw * 40 / 750);
	}

	#service .link {
		margin: calc(100vw * 70 / 750) 0 0;
	}
}


#works {
	padding: 0 !important;
}

#works a {
	display: block;
	padding: 60px 0 45px;
	position: relative;
	background: #f2f7fa;
	transition: .5s;
}

#works a:hover {
	background: #e7eef3;
}

#works .slider {
	margin: 40px 0 0;
}

#works .slider ul {
	display: flex;
	justify-content: space-between;
}

#works .slider li {
	width: 312px;
}

#works .slider li img {
	display: block;
	margin: 0 0 15px;
}

#works .link {
	margin: 50px 0 0;
}

/*#works .controller li {
	width: 50px;
	position: absolute;
	top: 50%;
	margin: -25px 0 0;
	background: #06348b;
	color: #fff;
	font-family: Fontawesome;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
#works .controller .btPrev {
	left: 0;
}
#works .controller .btNext {
	right: 0;
}
#works .controller .btPrev::before {
	content: "\f177";
}
#works .controller .btNext::before {
	content: "\f178";
}*/
@media only screen and (max-width:750px) {
	#works a {
		padding: calc(100vw * 70 / 750) 0;
	}

	#works .slider {
		margin: calc(100vw * 40 / 750) 0 0;
	}

	#works .slider ul {
		display: block;
	}

	#works .slider li {
		width: auto;
		max-width: 312px;
		margin: calc(100vw * 50 / 750) auto 0;
	}

	#works .slider li:first-child {
		margin-top: 0;
	}

	#works .slider li img {
		display: block;
		margin: 0 0 calc(100vw * 20 / 750);
	}

	#works .link {
		margin: calc(100vw * 65 / 750)0 0;
	}
}


#company {
	padding: 50px 0 50px !important;
}

#company .list {
	display: flex;
	margin: 25px 0 0;
	border: 4px solid #a7b5be;
}

#company dl {
	display: flex;
	width: 50%;
	flex-wrap: wrap;
}

#company dt,
#company dd {
	box-sizing: border-box;
	height: 69px;
	border-top: 1px solid #a7b5be;
	line-height: 18px;
}

#company dt {
	width: 110px;
	padding: 0 0 0 20px;
	background: #f2f7fa;
	font-weight: bold;
}

#company dd {
	width: calc(100% - 110px);
	padding: 0 10px 0 30px;
}

#company dt:first-of-type,
#company dd:first-of-type {
	border-top-style: none;
}

#company dt::before,
#company dd::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 69px;
	vertical-align: middle;
}

#company dt span,
#company dd span {
	display: inline-block;
	vertical-align: middle;
}

#company .list2 {
	display: flex;
	width: auto;
	margin: 25px 0 0;
	border: 4px solid #a7b5be;
}

#company .list2 dt,
#company .list2 dd {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: auto;
	min-height: 69px;
	padding-top: 7px;
	padding-bottom: 7px;
}

#company .list2 dt::before,
#company .list2 dd::before {
	content: none;
}

#company .list2 dd {
	width: calc(50% - 110px);
}

#company .list2 dt:first-of-type {
	order: 1;
}

#company .list2 dd:first-of-type {
	order: 2;
}


#company .list2 dt:nth-of-type(4) {
	order: 3;
	border-top-style: none;
}

#company .list2 dd:nth-of-type(4) {
	order: 4;
	border-top-style: none;
}

#company .list2 dt:nth-of-type(2) {
	order: 5;
}

#company .list2 dd:nth-of-type(2) {
	order: 6;
}

#company .list2 dt:nth-of-type(5) {
	order: 7;
}

#company .list2 dd:nth-of-type(5) {
	order: 8;
}

#company .list2 dt:nth-of-type(3) {
	order: 9;
}

#company .list2 dd:nth-of-type(3) {
	order: 10;
}


#company .list2 dt:last-of-type {
	order: 11;
}

#company .list2 dd:last-of-type {
	order: 12;
}

#company .link {
	margin: 40px 0 0;
}

@media only screen and (max-width:750px) {
	#company {
		padding: calc(100vw * 80 / 750) 0 calc(100vw * 170 / 750) !important;
		background: #fff
			/*d9d9d9*/
		;
	}

	#company .list {
		display: block;
		margin: calc(100vw * 35 / 750) 0 0;
		border-width: 2px;
	}

	#company dl {
		width: auto;
	}

	#company dt,
	#company dd {
		box-sizing: border-box;
		height: auto;
		min-height: calc(100vw * 110 / 750);
	}

	#company dt:first-of-type,
	#company dd:first-of-type {
		border-top-style: solid;
	}

	#company dl:first-child dt:first-of-type,
	#company dl:first-child dd:first-of-type {
		border-top-style: none;
	}

	#company dt {
		width: calc(100vw * 140 / 750);
		padding: 0;
		text-align: center;
	}

	body.translated #company dt {
		width: calc(100vw * 200 / 750);
	}

	#company dd {
		width: calc(100% - 100vw * 140 / 750);
		padding: 0 calc(100vw * 25 / 750);
		line-height: calc(36 / 20);
	}

	body.translated #company dd {
		width: calc(100% - 100vw * 200 / 750);
	}

	#company dt::before,
	#company dd::before {
		height: 100%;
	}

	#company .list2 {
		margin: calc(100vw * 35 / 750) 0 0;
		border-width: 2px;
	}

	#company .list2 dt,
	#company .list2 dd {
		min-height: calc(100vw * 110 / 750);
		padding-top: 0;
		padding-bottom: 0;
	}

	#company .list2 dt {
		justify-content: center;
	}

	#company .list2 dd {
		width: calc(100% - 100vw * 140 / 750);
	}

	#company .list2 dt:first-of-type,
	#company .list2 dd:first-of-type,
	#company .list2 dt:nth-of-type(4),
	#company .list2 dd:nth-of-type(4),
	#company .list2 dt:nth-of-type(2),
	#company .list2 dd:nth-of-type(2),
	#company .list2 dt:nth-of-type(5),
	#company .list2 dd:nth-of-type(5),
	#company .list2 dt:nth-of-type(3),
	#company .list2 dd:nth-of-type(3),
	#company .list2 dt:last-of-type,
	#company .list2 dd:last-of-type {
		order: 0;
	}

	#company .list2 dt:first-of-type,
	#company .list2 dd:first-of-type {
		border-top-style: none;
	}

	#company .list2 dt:nth-of-type(4),
	#company .list2 dd:nth-of-type(4) {
		border-top-style: solid;
	}

	#company .link {
		margin: calc(100vw * 55 / 750) 0 0;
	}
}

.invisible {
	opacity: 0;
	transition: 1s;
}

.visible {
	opacity: 1;
	transition: 1s;
}

/* 2024/03 コラム追加 */

#main #topic {
	display: flex;
	align-items: center;
	width: 992px;
	margin: 40px auto 0;
	background-color: #F2F7FA;
	background-image: url(../imgs/arrow_forward.svg), radial-gradient(#C0D4E0 15.5px, transparent 15.5px);
	background-position: calc(100% - 27px) 50%, calc(100% - 18px) 50%;
	background-size: 13px auto, 31px 31px;
	background-repeat: no-repeat;
	border-radius: 28.5px;
}


#main #topic .label {
	width: 135px;
	font-size: 19px;
	text-align: center;
}

#main #topic .list {
	box-sizing: border-box;
	width: calc(100% - 135px);
	height: 57px;
	padding: 0 0 0 32px;
	background: linear-gradient(#B5C0C6, #B5C0C6) 0 50% / 1px 24px no-repeat;
	overflow: hidden;
}

#main #topic .list a {
	display: flex;
	align-items: center;
}

#main #topic .list a .date {
	width: 82px;
	color: #848484;
	font-size: 12px;
}

#main #topic .list a .text {
	display: flex;
	align-items: center;
	width: calc(100% - 82px);
	height: 57px;
	font-size: 16px;
	line-height: 24px;
}

@media only screen and (max-width:750px) {
	#main #topic {
		width: auto;
		margin: calc(100vw * 48 / 750) calc(100vw * 25 / 750) calc(100vw * 48 / 750);
		background-image: url(../imgs/arrow_forward.svg), radial-gradient(#C0D4E0 1em, transparent 1em);
		background-position: calc(100% - 1.5em) 50%, calc(100% - 1em) 50%;
		background-size: 1em auto, 2em 2em;
		border-radius: calc(100vw* 54 / 750);
	}

	#main #topic .label {
		width: 22%;
		font-size: calc(100vw* 28 / 750);
	}

	#main #topic .list {
		width: 78%;
		height: calc(100vw* 108 / 750);
		padding: 0 4em 0 1em;
		background-size: 1px 60%;
	}

	#main #topic .list a {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: .5em;
		height: calc(100vw* 108 / 750);
	}

	#main #topic .list a .date {
		width: auto;
		font-size: calc(100vw* 24 / 750);
		line-height: 1;
	}

	#main #topic .list a .text {
		display: block;
		width: 100%;
		height: auto;
		font-size: inherit;
		line-height: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#main article #column {
	padding-top: 45px;
}

#main article #column .list {
	display: grid;
	grid-template-rows: auto auto auto auto;
	grid-template-columns: 310px 310px 310px;
	gap: 20px 35px;
	margin: 30px 0 0;
}

#main article #column .list .item {
	grid-row: 1/5;
	display: grid;
	grid-template-rows: subgrid;
	grid-template-columns: auto;
	width: 310px;
}

#main article #column .list .item:first-child {
	grid-column: 1/2;
}

#main article #column .list .item:nth-child(2) {
	grid-column: 2/3;
}

#main article #column .list .item:last-child {
	grid-column: 3/4;
}

#main article #column .list .item .image {
	margin: 0;
	align-self: center;
}

#main article #column .list .item .image img {
	max-width: 100%;
	aspect-ratio: 207/148;
	object-fit: cover;
}

#main article #column .list .item .image.border img {
	box-sizing: border-box;
	border: 1px solid #c8cfd5;
}

#main article #column .list .item .ttl {
	font-size: 20px;
	line-height: 32px;
}

#main article #column .list .item .tag {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	margin: -10px 0 0;
}

#main article #column .list .item .tag a,
#main article #column .list .item .tag span {
	display: block;
	padding: 0 15px;
	background: #F2F7FA;
	border-radius: 10.5px;
	color: #82939D;
	font-size: 12px;
	line-height: 21px;
}

#main article #column .list .item .summary {
	font-size: 14px;
	line-height: 22.4px;
}

#main article #column .list .item .summary a {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

#main article #column .list .item .ttl,
#main article #column .list .item .summary {
	margin: calc((1em - 1lh) / 2) 0;
}

@media only screen and (max-width:750px) {
	#main article #column {
		padding-top: calc(100vw* 70 / 750);
	}

	#main article #column .list {
		display: block;
		margin: calc(100vw* 40 / 750) 0 0;
	}

	#main article #column .list .item {
		margin: 0 auto;
	}

	#main article #column .list .item:nth-child(n+2) {
		margin-top: calc(100vw* 50 / 750);
	}

	#main article #column .list .item .ttl {
		margin-top: calc(100vw* 20 / 750);
		font-size: calc(100vw* 32 / 750);
		line-height: inherit;
	}

	#main article #column .list .item .tag {
		margin: 0;
		padding: calc(100vw* 20 / 750) 0;
	}

	#main article #column .list .item .summary {
		font-size: inherit;
		line-height: inherit;
	}

	#main article #column .link {
		margin-top: calc(100vw* 65 / 750)
	}
}