@charset "UTF-8";
/*******************************
  個別設定
*******************************/
#header {
  z-index: 9000;
}

#main img {
  max-width: 100%;
}
#main .pageHeader {
  display: block;
  background: url("../imgs/bg01.png") 50% 0 repeat;
  text-align: center;
}
@media screen and (max-width: 750px) {
  #main .wrap {
    padding: 0 2.6666666667vw;
  }
}
#main .lead {
  padding: 70px 0 0;
}
@media screen and (max-width: 750px) {
  #main .lead {
    padding: 5.3333333333vw 0 0;
  }
}
#main .lead p {
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
}
@media screen and (max-width: 750px) {
  #main .lead p {
    font-size: 3.7333333333vw;
    line-height: 1.5357142857;
  }
}
#main .lead .shortcut {
  display: flex;
  margin: 55px 0 0;
}
@media screen and (max-width: 750px) {
  #main .lead .shortcut {
    margin: 2.6666666667vw 0 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#main .lead .shortcut li {
  width: 20%;
}
@media screen and (max-width: 750px) {
  #main .lead .shortcut li {
    width: 33.3333333333%;
    margin: 6vw 0 0;
  }
}
#main .lead .shortcut li a {
  display: block;
  padding: 0 0 30px;
  background: url("../imgs/blt01.png") 50% 100% no-repeat;
  text-align: center;
}
@media screen and (max-width: 750px) {
  #main .lead .shortcut li a {
    padding: 0 0 4vw;
    background-size: 2.8vw auto;
  }
}
#main .lead .shortcut li a .image {
  width: 166px;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  #main .lead .shortcut li a .image {
    width: 26.6666666667vw;
  }
}
#main .lead .shortcut li a .image img {
  max-width: 100%;
}
#main .lead .shortcut li a .text {
  margin: 15px 0 0;
  color: #3376ba;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}
@media screen and (max-width: 750px) {
  #main .lead .shortcut li a .text {
    margin: 2vw 0 0;
    font-size: 2.9333333333vw;
  }
}
#main .mainSection .sectionTitle {
  box-sizing: border-box;
  height: 382px;
  padding: 95px 0 0;
  position: relative;
  background: #3376ba;
}
@media screen and (max-width: 750px) {
  #main .mainSection .sectionTitle {
    height: 50.9333333333vw;
    padding: 11.2vw 0 0;
  }
}
#main .mainSection .sectionTitle::before {
  content: "";
  display: block;
  width: calc(50% + 156px);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: 0 0/cover no-repeat;
}
@media screen and (max-width: 750px) {
  #main .mainSection .sectionTitle::before {
    width: 60vw;
    background-position: 100% 0;
  }
}
#main .mainSection .sectionTitle .wrap {
  display: block;
  position: relative;
}
@media screen and (max-width: 750px) {
  #main .mainSection .sectionTitle .wrap {
    padding-left: 5.3333333333vw;
  }
}
#main .mainSection .sectionTitle .wrap .num {
  display: block;
}
@media screen and (max-width: 750px) {
  #main .mainSection .sectionTitle .wrap .num img {
    height: 7.0666666667vw;
  }
}
#main .mainSection .sectionTitle .wrap .text {
  display: block;
  margin: 30px 0 0;
  color: #333;
  font-size: 40px;
  line-height: 1.15;
}
@media screen and (max-width: 750px) {
  #main .mainSection .sectionTitle .wrap .text {
    margin: 4vw 0 0;
    font-size: 5.3333333333vw;
  }
}
#main .mainSection .sectionTitle .wrap .text span {
  display: inline-block;
  margin: 2px 0 0;
  background: #fff;
}
@media screen and (max-width: 750px) {
  #main .mainSection .sectionTitle .wrap .text span {
    margin: 0.2666666667vw 0 0;
  }
}
#main .mainSection .inner {
  position: relative;
  transition: padding 0.5s;
}
#main .mainSection .inner::after {
  content: "";
  display: block;
  width: 100%;
  height: 320px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
  transition: height 0.5s;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner::after {
    height: 53.3333333333vw;
  }
}
#main .mainSection .inner .block {
  position: relative;
}
#main .mainSection .inner .block::before {
  content: "";
  display: block;
  width: 2px;
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 20px;
  z-index: 1;
  background: #3376ba;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block::before {
    width: 0.2666666667vw;
    top: 5.6vw;
    bottom: 20vw;
    left: 2.4vw;
  }
}
#main .mainSection .inner .block .blockTitle {
  padding: 16px 0 16px 66px;
  position: relative;
  background: #eaf1f8;
  color: #3376ba;
  font-size: 24px;
  line-height: 1.6666666667;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block .blockTitle {
    padding: 2.1333333333vw 0 2.1333333333vw 6.6666666667vw;
    font-size: 3.4666666667vw;
    line-height: 1.5384615385;
  }
}
#main .mainSection .inner .block .blockTitle::before {
  content: "";
  display: block;
  width: 35px;
  height: 72px;
  position: absolute;
  top: 0;
  left: -12px;
  background: url("../imgs/blt02.png") 0 0 no-repeat;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block .blockTitle::before {
    width: 4.6666666667vw;
    height: 9.6vw;
    left: -2.6666666667vw;
    background-size: contain;
  }
}
#main .mainSection .inner .block .blockTitle::after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 6px solid #3376ba;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block .blockTitle::after {
    width: 2.6666666667vw;
    height: 2.6666666667vw;
    border-width: 0.8vw;
    left: 1.2vw;
  }
}
#main .mainSection .inner .block .baloon {
  border: 1px dotted #101d69;
  position: relative;
  background: #f5f9fb;
  border-radius: 30px;
  color: #101d69;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block .baloon {
    border-radius: 4vw;
  }
}
#main .mainSection .inner .block .baloon::before {
  content: "";
  display: block;
  position: absolute;
  background: 0 0/cover no-repeat;
}
#main .mainSection .inner .block .client {
  min-height: 166px;
  margin: 45px 0 0;
  padding: 0 0 0 245px;
  background: url("../imgs/ill01.png") 121px 0 no-repeat;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block .client {
    min-height: 0;
    margin: 3.7333333333vw 0 0;
    padding: 0 0 0 17.0666666667vw;
    background-position: 5.8666666667vw 100%;
    background-size: 8.2666666667vw auto;
  }
}
#main .mainSection .inner .block .client .baloon {
  display: inline-block;
  padding: 39px 55px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block .client .baloon {
    padding: 3.7333333333vw 3.2vw;
    font-size: 3.7333333333vw;
    line-height: 1.3214285714;
  }
}
#main .mainSection .inner .block .client .baloon::before {
  width: 27px;
  height: 26px;
  background-image: url("../imgs/blt03.png");
  bottom: 34px;
  left: -27px;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block .client .baloon::before {
    width: 3.6vw;
    height: 3.4666666667vw;
    bottom: 3.8666666667vw;
    left: -3.6vw;
  }
}
#main .mainSection .inner .block .wms {
  margin: 18px 0 0;
  padding: 0 172px 0 86px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block .wms {
    margin: 4.8vw 0 0;
    padding: 0 16.1333333333vw 0 5.6vw;
  }
}
#main .mainSection .inner .block .wms .baloon {
  padding: 30px 52px 40px;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block .wms .baloon {
    padding: 6vw 5.3333333333vw 4.8vw 6vw;
  }
}
#main .mainSection .inner .block .wms .baloon::before {
  width: 30px;
  height: 37px;
  background-image: url("../imgs/blt04.png");
  right: -30px;
  bottom: 23px;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block .wms .baloon::before {
    width: 4vw;
    height: 4.9333333333vw;
    right: -4vw;
    bottom: 4.4vw;
  }
}
#main .mainSection .inner .block .wms .baloon .catch {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block .wms .baloon .catch {
    font-size: 3.7333333333vw;
    line-height: 1.3928571429;
  }
}
#main .mainSection .inner .block .wms .baloon p {
  margin: 15px 0 0;
  font-size: 18px;
  line-height: 1.7777777778;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .block .wms .baloon p {
    margin: 2.6666666667vw 0 0;
    font-size: 3.7333333333vw;
    line-height: 1.2857142857;
  }
}
#main .mainSection .inner .block .wms .baloon p strong {
  font-weight: normal;
  background: url("../imgs/blt05.png") 0 100% repeat-x;
}
#main .mainSection .inner .btn {
  width: 375px;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  background: #3376ba url("../imgs/blt07.png") 48px 50% no-repeat;
  border-radius: 18px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
  cursor: pointer;
  transform: translate(-50%, 0);
  transition: ooacity 0.3s;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .btn {
    width: 61.3333333333vw;
    background-position: 3.7333333333vw 50%;
    background-size: 3.2vw auto;
    border-radius: 2.6666666667vw;
    font-size: 4vw;
    line-height: 10.6666666667vw;
  }
}
#main .mainSection .inner .btn ::after {
  content: "";
  display: block;
  width: 91px;
  height: 127px;
  position: absolute;
  right: -27px;
  bottom: 0;
  background: url("../imgs/ill02.png") 0 100%/contain no-repeat;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner .btn ::after {
    width: 12.1333333333vw;
    height: 16.9333333333vw;
    right: 1.7333333333vw;
    bottom: 0;
  }
}
#main .mainSection .inner .btn .close {
  display: none;
}
#main .mainSection .inner .btn:hover {
  opacity: 0.8;
}
#main .mainSection .inner.active {
  padding: 0 0 170px;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner.active {
    padding: 0 0 20vw;
  }
}
#main .mainSection .inner.active::after {
  height: 170px;
}
@media screen and (max-width: 750px) {
  #main .mainSection .inner.active::after {
    height: 20vw;
  }
}
#main .mainSection .inner.active .btn {
  background-image: url("../imgs/blt06.png");
}
#main .mainSection .inner.active .btn .open {
  display: none;
}
#main .mainSection .inner.active .btn .close {
  display: block;
}
#main .mainSection .block01 {
  margin: 85px 0 0;
}
@media screen and (max-width: 750px) {
  #main .mainSection .block01 {
    margin: 6vw 0 0;
  }
}
#main .mainSection .block01 .wms {
  min-height: 196px;
  background-image: url("../imgs/ill02.png");
}
@media screen and (max-width: 750px) {
  #main .mainSection .block01 .wms {
    min-height: 0;
    background-size: 11.8666666667vw;
  }
}
#main .mainSection .block02 {
  margin: 60px 0 0;
  display: none;
}
@media screen and (max-width: 750px) {
  #main .mainSection .block02 {
    margin: 6vw 0 0;
  }
}
#main .mainSection .block02 .wms {
  min-height: 224px;
  background-image: url("../imgs/ill03.png");
}
@media screen and (max-width: 750px) {
  #main .mainSection .block02 .wms {
    min-height: 0;
    background-size: 10.8vw;
  }
}
#main #section01 .sectionTitle::before {
  background-image: url("../imgs/img01.jpg");
}
#main #section02 .sectionTitle::before {
  background-image: url("../imgs/img02.jpg");
}
#main #section03 .sectionTitle::before {
  background-image: url("../imgs/img03.jpg");
}
#main #section04 .sectionTitle::before {
  background-image: url("../imgs/img04.jpg");
}
#main #section05 .sectionTitle::before {
  background-image: url("../imgs/img05.jpg");
}
#main .contact {
  margin: 170px 0 0;
  padding: 70px 0 60px;
  background: url("../imgs/bg02.png") 50% 0 repeat;
}
@media screen and (max-width: 750px) {
  #main .contact {
    margin: 10.6666666667vw 0 0;
    padding: 6vw 0 5.3333333333vw;
  }
}
#main .contact .inner {
  display: flex;
  padding: 0 0 0 36px;
  background: url("../imgs/ill04.png") 75px 100% no-repeat;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  #main .contact .inner {
    display: block;
    padding: 0;
    background-position: 0 100%;
    background-size: 20vw auto;
  }
}
@media screen and (max-width: 750px) {
  #main .contact .inner .label {
    width: 29.0666666667vw;
    margin: 0 auto;
  }
}
#main .contact .inner .baloon {
  box-sizing: border-box;
  width: 742px;
  padding: 40px 45px 35px;
  position: relative;
  background: #f5f9fb;
  border-radius: 30px;
  color: #101d69;
}
@media screen and (max-width: 750px) {
  #main .contact .inner .baloon {
    width: auto;
    margin: 6vw 0 0 21.3333333333vw;
    padding: 6vw 6vw 4vw;
    border-radius: 4vw;
  }
}
#main .contact .inner .baloon::before {
  content: "";
  display: block;
  width: 29px;
  height: 27px;
  position: absolute;
  left: -29px;
  bottom: 34px;
  background: url("../imgs/blt08.png") 0 0 no-repeat;
}
@media screen and (max-width: 750px) {
  #main .contact .inner .baloon::before {
    width: 3.8666666667vw;
    height: 3.6vw;
    left: -3.8666666667vw;
    bottom: 4.5333333333vw;
    background-size: cover;
  }
}
#main .contact .inner .baloon .catch {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
@media screen and (max-width: 750px) {
  #main .contact .inner .baloon .catch {
    font-size: 3.7333333333vw;
  }
}
#main .contact .inner .baloon .catch span {
  background: url("../imgs/blt05.png") 0 100% repeat-x;
}
#main .contact .inner .baloon p {
  margin: 25px 0 0;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 750px) {
  #main .contact .inner .baloon p {
    margin: 2.6666666667vw 0 0;
    font-size: 3.7333333333vw;
    line-height: 1.1428571429;
  }
}
#main .contact .inner .baloon a {
  display: block;
  width: 200px;
  margin: 10px 0 0 calc(100% - 200px);
  background: #3376ba url("../../common/imgs/arrow01.png") calc(100% - 22px) 50% no-repeat;
  border-radius: 25px;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
@media screen and (max-width: 750px) {
  #main .contact .inner .baloon a {
    width: 34.6666666667vw;
    margin: 4vw auto 0;
    background-position: calc(100% - 3.7333333333vw) 50%;
    background-size: 2.4vw auto;
    border-radius: 4vw;
    font-size: 3.2vw;
    line-height: 8vw;
  }
}

#main article > section {
  margin: 120px 0 0;
  padding: 0;
}
@media screen and (max-width: 750px) {
  #main article > section {
    margin: 16vw 0 0;
    padding: 0;
  }
}
/*# sourceMappingURL=unique.css.map */