@charset "utf-8";

/*******************************
  基本設定
*******************************/

/*------------------------------
  CSSリセット
------------------------------*/

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, table, tr, th, td, form {
	font-size: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-size: 12px;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
}
.sans-serif {
	font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

@media all and (-ms-high-contrast:none) {
	body {
		font-family: "ＭＳ Ｐ明朝", "MS PMincho", serif;
	}
	.sans-serif {
		font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	}
}

table {
	border-collapse: collapse;
	empty-cells: show;
}
th, td {
	text-align: left;
	vertical-align: top;
}
li {
	list-style: none;
}
img {
	vertical-align: top;
}

/*------------------------------
  utility
------------------------------*/

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.imgReplace {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	line-height: 1px;
}
.indent {
	padding-left: 1em;
	text-align: left;
	text-indent: -1em;
}
