@charset "utf-8";

/*******************************
  共通設定
*******************************/

html {
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

@media only screen and (max-width:750px) {
	html {
		scroll-padding-top: calc(100vw * 100 / 750);
	}
}

body {
	color: #000;
	font-size: 14px;
	line-height: 26px;
}

a {
	color: #000;
	text-decoration: none;
}

a.hov,
.hov a,
a.input,
.input a,
button.hov,
.hov button {
	transition: opacity .3s;
}

a.hov:hover,
.hov a:hover,
a.input:hover,
.hov input:hover,
button.hov:hover,
.hov button:hover {
	opacity: .8;
}

#wrap {
	position: relative;
}

body.translated {
	margin-top: 0 !important;
}

body.translated #wrap {
	padding-top: 56px;
}

.sp-visible {
	display: none;
}

.wrap {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}

br.sp {
	display: none;
}

@media only screen and (max-width:750px) {
	body {
		font-size: calc(100vw * 28 / 750);
		line-height: 1.75;
	}

	img {
		max-width: 100%;
	}

	img.sp-visible {
		display: inline-block;
	}

	img.sp-visible+img {
		display: none;
	}

	.sp-hidden {
		display: none;
	}

	.wrap {
		width: auto;
		padding-left: calc(100vw * 25 / 750);
		padding-right: calc(100vw * 25 / 750);
	}


	br.pc {
		display: none;
	}

	br.sp {
		display: inline;
	}
}

.anchor {
	width: 100%;
	position: absolute;
	top: -1.5rem;
	left: 0;
}

@media only screen and (max-width:750px) {
	.anchor {
		top: -1rem;
	}
}

/* header */

#header {
	width: 100%;
	height: 100px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: +1;
}

body.translated #header {
	top: 56px;
}

#header .wrap {
	display: flex;
	width: auto;
	max-width: 1140px;
	min-width: 1000px;
	justify-content: space-between;
}

#siteTitle {
	margin: 21px 0 0;
}

#spMenu {
	display: none;
}

#gNav {
	margin: 29px 0 0;
	font-size: 12px;
	line-height: 1;
}

#gNav ul {
	display: flex;
}

#gNav li {
	margin: 0 0 0 20px;
	padding: 9px 0 0;
	vertical-align: top;
}

#gNav .top {
	display: none;
}

#gNav .facebook {
	padding-top: 0;
}

@media only screen and (max-width:750px) {
	#header {
		height: calc(100vw * 100 / 750);
		background: #fff;
	}

	#header::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: +1;
		background: #fff;
	}

	#header .wrap {
		display: block;
		width: auto;
		max-width: none;
		min-width: 0;
		padding: 0;
	}

	#siteTitle {
		width: calc(100vw * 265 / 750);
		margin: calc(100vw * 19 / 750) 0 0 calc(100vw * 25 / 750);
		position: relative;
		z-index: +1;
	}

	#spMenu {
		display: block;
		width: calc(100vw * 100 / 750);
		height: calc(100vw * 100 / 750);
		position: absolute;
		top: 0;
		right: 0;
		z-index: +1;
		background: #fff;
	}

	#spMenu::before,
	#spMenu::after {
		content: '';
		display: block;
		box-sizing: border-box;
		width: 40%;
		position: absolute;
		top: 50%;
		left: 50%;
		transition: .5s ease;
	}

	#spMenu::before {
		height: 34%;
		border-top: 2px solid #09247c;
		border-bottom: 2px solid #09247c;
		transform: translate(-50%, -50%);
	}

	#spMenu::after {
		height: 0;
		border-top: 1px solid #09247c;
		border-bottom: 1px solid #09247c;
		transform: translate(-50%, -1px);
	}

	#gNav.active+#spMenu::before {
		height: 0;
		border-top: 1px solid #09247c;
		border-bottom: 1px solid #09247c;
		transform: translate(-50%, -1px) rotate(45deg);
	}

	#gNav.active+#spMenu::after {
		transform: translate(-50%, -1px) rotate(-45deg);
	}

	#gNav {
		width: 100%;
		margin: 0;
		padding: calc(100vw * 100 / 750) 0 0;
		position: absolute;
		top: 0;
		left: 0;
		font-size: calc(100vw * 28 / 750);
		line-height: calc(100vw * 79 / 750);
		background: rgba(0, 29, 125, .9);
		transform: translateY(-100%);
		transition: .5s ease;
	}

	#gNav.active {
		transform: translateY(0);
	}

	#gNav ul {
		display: block;
		padding: calc(100vw * 79 / 750) calc(100vw * 94 / 750) calc(100vw * 86 / 750);
	}

	#gNav li,
	#gNav .top {
		display: block;
		margin: 0;
		border-top: 1px solid #4d61a4;
		padding: 0;
		/*vertical-align: top;*/
	}

	#gNav a {
		display: block;
		color: #fff;
		text-align: center;
	}

	#gNav .facebook {
		padding-top: calc(100vw * 66 / 750);
	}

	#gNav .facebook a {
		border: 1px solid #4d61a4;
		position: relative;
		border-radius: 2px;
		line-height: calc(100vw * 86 / 750);
	}

	#gNav .facebook a::after {
		content: 'Official Facebook';
	}

	#gNav .facebook img {
		width: calc(100vw * 41 / 750);
		height: calc(100vw * 41 / 750);
		position: absolute;
		top: 50%;
		left: calc(100vw * 27 / 750);
		transform: translateY(-50%);
	}
}

/* main */

#main {
	counter-reset: section;
}

#main .pageHeader {
	display: flex;
	min-width: 1020px;
	padding: 100px 0 0;
	background: #001d7d;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

#main .pageHeader .title {
	width: calc(100% * 410 / 1400);
	height: 240px;
	background: #219085;
	background: -webkit-linear-gradient(left, #219085 0%, #3cdacb 100%);
	background: linear-gradient(to right, #219085 0%, #3cdacb 100%);
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	line-height: 30px;
}

#main .pageHeader .title::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 240px;
	vertical-align: middle;
}

#main .pageHeader .title span {
	display: inline-block;
	width: 410px;
	margin: 0 0 0 calc(100% - 410px);
	text-align: center;
	vertical-align: middle;
}

#main .pageHeader .title strong {
	font-size: 28px;
	font-weight: normal;
	font-style: normal;
}

#main .pageHeader .title span span {
	display: block;
	width: auto;
	margin: 0;
}

#main .pageHeader .image,
#main .pageHeader .breadCrumb {
	width: calc(100% * 990 / 1400);
}

#main .pageHeader .image {
	height: 240px;
	background: 50% 0 no-repeat;
	background-size: cover;
}

#main .pageHeader .breadCrumb {
	box-sizing: border-box;
	padding: 0 0 0 15px;
	background: #eee;
	font-size: 12px;
	line-height: 30px;
}

#main .pageHeader .breadCrumb li {
	display: inline-block;
}

#main .pageHeader .breadCrumb li::after {
	content: "";
	display: inline-block;
	width: 4px;
	height: 12px;
	margin: 0 15px;
	background: url(../imgs/angle-right-solid.svg) 50% 50% / contain no-repeat;
	vertical-align: middle;
}

#main .pageHeader .breadCrumb li:last-child::after {
	content: none;
}

#main .pageHeader .breadCrumb a {
	color: #001d7d;
}

@media only screen and (max-width:1400px) {
	#main .pageHeader .title {
		width: 410px;
	}

	#main .pageHeader .image,
	#main .pageHeader .breadCrumb {
		width: calc(100% - 410px);
	}
}

@media only screen and (max-width:750px) {
	#main .pageHeader {
		display: block;
		min-width: 0;
		padding: calc(100vw * 100 / 750) 0 0;
	}

	#main .pageHeader .title {
		width: auto;
		height: auto;
		padding: calc(100vw * 20 / 750) 0 calc(100vw * 20 / 750);
		font-size: calc(100vw * 24 / 750);
		line-height: 1;
	}

	#main .pageHeader .title::before {
		content: none;
	}

	#main .pageHeader .title span {
		display: block;
		width: auto;
		margin: 0;
	}

	#main .pageHeader .title strong {
		display: block;
		margin: 0 0 calc(100vw * 10 / 750);
		font-size: calc(100vw * 30 / 750);
	}

	#main .pageHeader .title strong::after {
		content: none;
	}

	#main .pageHeader .image {
		width: auto;
	}

	#main .pageHeader .image {
		height: calc(100vw * 240 / 750);
	}

	#main .pageHeader .breadCrumb {
		display: none;
	}
}


#main article>section {
	padding: 120px 0 0;
	counter-increment: section;
}

#main .box01 .wrap {
	display: flex;
	flex-wrap: wrap;
}

#main .box01 .wrap.horizontal {
	justify-content: space-around;
}

#main .box01 .wrap.horizontal .text {
	width: 57%;
}

#main .box01 .wrap.horizontal .image {
	width: 40%;
}

#main .box01 .wrap.virtical .text {
	width: 100%;
}

#main .box01 .wrap.virtical .image {
	width: 100%;
	margin: 55px 0 0;
	text-align: center;
}

#main .box01 .text .title {
	display: flex;
	height: 80px;
	color: #06348b;
	font-size: 30px;
	font-weight: normal;
	line-height: 48px;
}

body.translated #main .box01 .text .title {
	height: auto;
	min-height: 80px;
}

#main .box01 .text .title::before {
	content: counter(section, decimal-leading-zero);
	display: inline-block;
	width: 99px;
	margin: 0 40px 0 0;
	border-right: 1px solid #000;
	color: #000;
	font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	font-size: 36px;
	font-weight: bold;
	line-height: 80px;
	text-align: center;
	vertical-align: middle;
}

#main .box01 .text .title span {
	display: inline-block;
	width: calc(100% - 140px);
	margin: -8px 0;
	vertical-align: middle;
}

body.translated #main .box01 .text .title br {
	display: none;
}

#main .box01 .text p {
	margin: 20px 0 0;
	font-size: 16px;
}

@media only screen and (max-width:750px) {
	#main article>section {
		padding: calc(100vw * 120 / 750) 0 0;
	}

	#main .box01 .wrap {
		display: block;
	}

	#main .box01 .wrap.horizontal .text,
	#main .box01 .wrap.virtical .text {
		width: auto;
	}

	#main .box01 .wrap.horizontal .image,
	#main .box01 .wrap.virtical .image {
		width: auto;
		margin: calc(100vw * 55 / 750) 0 0;
		text-align: center;
	}

	#main .box01 .text .title {
		height: auto;
		padding: 0 0 0 2.5em;
		position: relative;
		font-size: calc(100vw * 34 / 750);
		line-height: calc(48 / 30);
	}

	#main .box01 .text .title br {
		display: none;
	}

	#main .box01 .text .title::before {
		display: block;
		width: 2em;
		height: auto;
		margin: 0;
		border-right: none;
		position: absolute;
		top: 0;
		left: 0;
		font-size: calc(100vw * 30 / 750);
		line-height: calc(48 / 30);
	}

	#main .box01 .text .title::after {
		content: '';
		display: block;
		width: 1px;
		position: absolute;
		top: calc(100vw * 9 / 750);
		left: 2em;
		bottom: calc(100vw * 9 / 750);
		background: #000;
	}

	#main .box01 .text .title span {
		width: calc(100% - 100vw * 30 / 750 * 2);
		margin: 0;
	}

	#main .box01 .text p {
		margin: calc(100vw * 20 / 750) 0 0;
		font-size: calc(100vw * 28 / 750);
	}
}

#main .box02 {
	margin: 80px 0 0;
	padding: 70px 0 75px;
	background: #f5f9fb;
}

#main .box02 .wrap {
	display: flex;
	justify-content: space-between;
}

#main .box02 .col02 section {
	width: 47%;
}

#main .box02 .col03 section {
	width: 29.333%;
}

#main .box02 .title {
	display: inline-block;
	border-bottom: 2px solid #07348b;
	padding: 0 0 5px;
	color: #333;
	font-weight: normal;
}

#main .box02 .col02 .title {
	font-size: 18px;
	line-height: 28px;
}

#main .box02 .col03 .title {
	font-size: 16px;
	line-height: 26px;
}

#main .box02 p {
	margin: 20px 0 0;
}

@media only screen and (max-width:750px) {
	#main .box02 {
		margin: calc(100vw * 60 / 750) 0 0;
		padding: calc(100vw * 70 / 750) 0;
	}

	#main .box02 .wrap {
		display: block;
	}

	#main .box02 section {
		margin: calc(100vw * 50 / 750) 0 0;
	}

	#main .box02 section:first-child {
		margin-top: 0;
	}

	#main .box02 .col02 section,
	#main .box02 .col03 section {
		width: auto;
	}

	#main .box02 .title {
		border-bottom-width: 1px;
	}

	#main .box02 .col02 .title,
	#main .box02 .col03 .title {
		font-size: calc(100vw * 32 / 750);
		line-height: 1.5;
	}

	#main .box02 p {
		margin: calc(100vw * 20 / 750) 0 0;
	}
}

#main .link {
	margin: 50px 0;
}

#main .link ul {
	display: flex;
	justify-content: center;
}

#main .link li {
	width: 200px;
}

#main .link li+li {
	margin: 0 0 0 30px;
}

#main .link a,
#main .link span {
	display: block;
	border: 1px solid #06348b;
	position: relative;
	border-radius: 25px;
	color: #06348b;
	line-height: 48px;
	text-align: center;
}

#main .link a::after,
#main .link span::after {
	content: "";
	display: inline-block;
	width: .858em;
	height: .858em;
	position: absolute;
	right: 21px;
	top: 50%;
	background: url(../imgs/arrow-right-solid.svg) 0 50% / 100% auto no-repeat;
	transform: translateY(-50%);
}

@media only screen and (max-width:750px) {
	#main .link {
		margin: calc(100vw * 50 / 750) 0;
	}

	#main .link li {
		width: calc(100vw * 280 / 750);
	}

	#main .link li+li {
		margin: 0 0 0 calc(100vw * 30 / 750);
	}

	#main .link a,
	#main .link span {
		border-radius: calc(100vw * 30 / 750);
		line-height: calc(100vw * 58 / 750);
	}

	#main .link a::after,
	#main .link span::after {
		right: calc(100vw * 20 / 750);
	}
}


/* footer */

#footer {
	border-top: 1px solid #eaeaea;
	padding: 50px 0 60px;
	background: #f9f9f9;
	color: #999;
	line-height: 1;
	text-align: center;
}

#fNav {
	font-size: 12px;
}

#fNav li {
	display: inline-block;
	margin: 0 25px 0 0;
	padding: 9px 0 0;
	vertical-align: top;
}

#fNav .facebook {
	margin-right: 0;
	padding-top: 0;
}

#fNav a {
	color: #999;
}

#copyright {
	margin: 30px 0 0;
	font-size: 10px;
}

@media only screen and (max-width:750px) {
	#footer {
		padding: calc(100vw * 50 / 750) 0 calc(100vw * 30 / 750)
	}

	#fNav {
		font-size: calc(100vw * 28 / 750);
		text-align: left;
	}

	#fNav li {
		width: 50%;
		margin: 0 0 1em;
		padding: 0;
	}

	#fNav .facebook {
		width: 100%;
		margin: 0;
		text-align: center;
	}

	#copyright {
		margin: calc(100vw * 30 / 750) 0 0;
	}
}