@import 'settings';

.gHeader {
	.branding {
		.siteTitle {
			width: 2.36rem;
			top: .36rem;

			@include sp {
				top: .56rem;
			}

			img {
				width: 100%;
			}
		}
	}

	.navigation {
		nav {
			ul {
				li {
					a {
						padding: .26rem 0;

						@include sp {
							padding: 0;
						}

						.ja {
							margin: .03rem 0 -.03rem;
							line-height: 1.4;
						}
					}
				}
			}
		}
	}
}

.main {
	.mainVisual {
		.text {
			width: 4.16rem;
			top: (50% - 100% * 38 / 498);

			@include sp {
				box-sizing: border-box;
				width: 100%;
				padding: 0 .3rem;
				top: 24%;
				left: 0;
			}
		}
	}

	.mission {
		section {
			.list {
				li {
					a {
						font-size: .16rem;
						line-height: 1.4;

						@include sp {
							font-size: .26rem;
						}
					}
				}
			}
		}
	}

	.members {
		table {
			tbody {

				th,
				td:first-of-type {
					width: 20%;
				}
			}
		}
	}
}

.gFooter {
	.navigation {
		ul {
			@include sp {
				height: 2.37rem;
			}

			li {
				&:nth-child(4) {
					margin: 0 0 .66rem;

					@include sp {
						margin: 0;
					}
				}
			}
		}
	}

	.contact {
		.logo {
			width: 4.4rem;

			@include sp {
				width: 6.08rem;
			}
		}
	}
}