// 変数
// #############################################################################################
// size
$pcWidth: 1000;
$pcWrappWidth: 1000;
$spWidth: 750;
$spDesignWidth: 750;
$spPading: .4rem;
// color
$colorP: #000; // primary color
$colorA: #000; // accent color
// font
$baseFontFamily: sans;
$baseFontSize: .14rem;
$baseFontSizeSp: .24rem;
$baseLetterSpacing: 0;
$baseLineHeight: 1.5;
$baseLineHeightSp: 1.5;
$serif: "Noto Serif JP", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$sans: "Noto Sans JP", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;

// メディアクエリ
// #############################################################################################
@mixin pc {
	@media screen and (min-width: #{$spWidth + 1}px) {
		@content;
	}
}

@mixin pcNarrow {
	@media screen and (max-width: #{$pcWidth}px) and (min-width: #{$spWidth + 1}px) {
		@content;
	}
}

@mixin sp {
	@media screen and (max-width: #{$spWidth}px) {
		@content;
	}
}

@mixin spLandscape {
	@media screen and (max-width: #{$spWidth}px) and (orientation: landscape) {
		@content;
	}
}

@mixin ie {
	@media screen and (-ms-high-contrast: none) {
		@content;
	}
}

@mixin hover {
	@media screen and (hover: hover) {
		@content;
	}
}

// ユーティリティ
// #############################################################################################
%sans {
	font-family: $sans;
}

%serif {
	font-family: $serif;
}

%clearfix::after {
	content: "";
	display: block;
	clear: both;
}

%indent {
	padding-left: 1em;
	text-align: left;
	text-indent: -1em;
}

%textShadow_w {
	text-shadow: 0 0 .1em #fff, 0 0 .2em #fff, 0 0 .4em #fff, 0 0 .6em #fff, 0 0 8em #fff;
}

%textShadow_bk {
	text-shadow: 0 0 .1em #000, 0 0 .2em #000, 0 0 .4em #000, 0 0 .6em #000, 0 0 .8em #000;
}

@function spSize ($px) {
	@return 100vw * $px / $spDesignWidth;
}

// テキスト上下詰め
@mixin textCrop($lineHeight: $baseLineHeight) {
	line-height: $lineHeight;

	&::before,
	&::after {
		content: '';
		display: block;
		height: 0;
		width: 0;
	}

	&::before {
		margin-bottom: #{((1 - $lineHeight) / 2)}em;
	}

	&::after {
		margin-top: #{((1 - $lineHeight) / 2)}em;
	}
}

// > 印
@mixin arrow ($width, $lineWidth, $color) {
	box-sizing: border-box;
	width: $width / 0.70711;
	height: $width / 0.70711;
	border: $lineWidth solid transparent;
	border-top-color: $color;
	border-right-color: $color;
	transform: rotate(45deg);
	transform-origin: top right;
}

// 三角形
@mixin triangleUp ($width, $height, $color) {
	display: block;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-right-width: $width / 2;
	border-bottom-width: $height;
	border-bottom-color: $color;
	border-left-width: $width / 2;
}

@mixin triangleRight ($width, $height, $color) {
	display: block;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-top-width: $height / 2;
	border-bottom-width: $height / 2;
	border-left-width: $width;
	border-left-color: $color;
}

@mixin triangleDown ($width, $height, $color) {
	display: block;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-right-width: $width / 2;
	border-top-width: $height;
	border-top-color: $color;
	border-left-width: $width / 2;
}