$colorA: #054196; // accent color

@mixin sp {
	@media screen and (max-width: 750px) {
		@content;
	}
}

@mixin textCrop($line-height) {
	line-height: $line-height;

	&::before,
	&::after {
		content: '';
		display: block;
		height: 0;
		width: 0;
	}

	&::before {
		margin-bottom: #{((1 - $line-height) / 2)}em;
	}

	&::after {
		margin-top: #{((1 - $line-height) / 2)}em;
	}
}

#wrap {
	overflow: revert;
}

.main {
	.symposium {
		.catch {
			@include textCrop(48 / 36);
			margin: 0 0 .2rem;
			font-size: .24rem;

			@include sp {
				margin: 0 0 .38rem;
				font-size: .36rem;
			}

			span {
				display: inline-block;
				margin-left: .12rem;
				padding: .04rem .06rem;
				background: #f2f2f5;
				color: $colorA;
				font-size: .16rem;
				line-height: 1;
				translate: 0 -.04rem;

				@include sp {
					padding: .06rem .1rem;
					font-size: .24rem;
				}
			}
		}

		.section {
			position: relative;

			&+.section {
				margin: .8rem 0 0;
			}

			a {
				color: $colorA;
				text-decoration: underline;
			}

			h2 {
				margin: .5rem 0 0;
				padding: 0 0 0 .3rem;
				background: linear-gradient($colorA, $colorA) 0 50% / .04rem calc(100% - .12rem) no-repeat;
				line-height: (36 / 20);

				@include sp {
					background-size: .06rem calc(100% - .18rem);
				}

				&+h3 {
					margin: .2rem 0 0;

					@include sp {
						margin: .3rem 0 0;
					}
				}
			}

			h3 {
				width: fit-content;
				border-right: 1px solid currentColor;
				border-left: 1px solid currentColor;
				padding: 0 1em;
				background-image: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor);
				background-position: 0 0, 100% 0, 100% 100%, 0 100%;
				background-size: .3em 1px;
				background-repeat: no-repeat;
				font-size: inherit;
			}

			p {
				margin: .15rem 0 0;

				@include sp {
					margin: .3rem 0 0;
				}
			}

			table {
				width: 100%;
				margin: .15rem 0 0;

				@include sp {
					display: block;
					margin: .6rem 0 0;
				}

				tbody {
					@include sp {
						display: block;
					}

					tr {
						@include sp {
							display: block;
						}
					}

					th,
					td {
						padding: .1rem .2rem;

						@include sp {
							display: block;
						}
					}

					th {
						width: 2.4rem;
						box-sizing: border-box;
						font-weight: normal;

						@include sp {
							width: auto;
							padding: .24rem .3rem .16rem;
						}

					}

					td {
						@include sp {
							padding: 0 .3rem .24rem;

						}
					}

					tr:nth-child(odd) {

						th,
						td {
							background: #f5f5f5;
						}
					}
				}

				&+h3 {
					margin: .3rem 0 0;
				}
			}

			.btApply {
				display: block;
				width: 2.7rem;
				margin: .5rem auto 0;
				border: none;
				padding: 0;
				background: $colorA;
				border-radius: 0;
				color: #fff;
				font-weight: bold;
				letter-spacing: 0;
				line-height: .6rem;
				text-align: center;
				text-decoration: none;

				@include sp {
					width: 100%;
					font-size: 16px;
					line-height: 40px;
				}
			}
		}

		.summary {
			display: flex;
			flex-wrap: wrap;

			dt {
				display: flex;
				justify-content: space-between;
				width: 7em;

				@include sp {
					width: 6em;
				}

				&::after {
					content: '：';
				}
			}

			dd {
				width: calc(100% - 7em);

				@include sp {
					width: calc(100% - 6em);
				}

				.blt {
					color: $colorA;
				}

				.map {
					margin: 1em 0;
					display: block;

					img {
						display: block;
						width: 75%;
						border: 1px solid #f5f5f5;
					}

					.note {
						padding: .5em 0 0;
						font-size: .8em;
					}
				}

				ul {
					li {
						padding-left: 1em;
						text-indent: -1em;

						&::before {
							content: '・';
						}
					}
				}

			}
		}

		.sideMenu {
			align-self: flex-start;
			position: sticky;
			top: 1.5rem;
			right: 0;

			@include sp {
				position: static;
			}
		}
	}

	.contact {
		p {
			a {
				color: $colorA;
				text-decoration: underline;
			}

			&.txt-1 {
				font-weight: 400 !important;
			}
		}

		dl {
			dt {
				width: 3rem;
				padding-right: .3rem;

				@include sp {
					width: auto;
					padding-right: 10px;
				}
			}

			dd {
				width: calc(100% - 3rem);

				@include sp {
					width: auto;
				}
			}
		}

		ul.radio {
			display: flex;
			flex-direction: column;
			gap: .1rem;

			label {
				display: flex;
				align-items: center;
				gap: .1rem;
				width: fit-content;
			}

			input[type="radio"] {
				appearance: revert;
				width: auto;
			}

			.child {
				padding-left: 1.42em;

				@include sp {
					padding-top: 5px;
					padding-bottom: 5px;
					padding-left: 20px;
				}
			}

			&-horizontal {
				flex-direction: row;
				flex-wrap: wrap;
				gap: .1rem 2em;
			}

			.school-year:not(:has(input:checked)) {
				display: none;
			}
		}
	}
}