@charset "UTF-8";
/*******************************
  個別設定
*******************************/
.invisible {
  opacity: 0;
  transition: 1s;
}

.visible {
  opacity: 1;
  transition: 1s;
}

#main .image.border {
  border: 1px solid #ccc;
}
#main .image img {
  width: 100%;
}
#main .pageHeader.academy .image {
  background-image: url("../imgs/academy/img-main.jpg");
}
#main .pageHeader.b2b .image {
  background-image: url("../imgs/b2b/img-main.jpg");
}
#main .pageHeader.movabletype .image {
  background-image: url("../imgs/movabletype/img-main.jpg");
}
#main .pageHeader.running .image {
  background-image: url("../imgs/running/img-main.jpg");
}
#main .pageHeader.writing .image {
  background-image: url("../imgs/writing/img-main.jpg");
}
@media screen and (max-width: 750px) {
  #main .wrap {
    padding: 0 5.3333333333vw;
  }
}
#main .sectionTitle {
  color: #001d7d;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
}
@media screen and (max-width: 750px) {
  #main .sectionTitle {
    font-size: 4.2666666667vw;
    line-height: 1.5;
  }
}
#main .sectionTitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 20px 0 0;
  background: #001d7d;
}
@media screen and (max-width: 750px) {
  #main .sectionTitle::after {
    width: 8vw;
    height: 0.2666666667vw;
    margin: 2.9333333333vw 0 0;
  }
}
#main .sectionTitle + p {
  margin: 40px 0 0;
  font-size: 16px;
  line-height: 1.625;
}
@media screen and (max-width: 750px) {
  #main .sectionTitle + p {
    margin: 5.3333333333vw 0 0;
    font-size: 3.7333333333vw;
    line-height: 1.5;
  }
}
#main .sectionTitle_s {
  display: inline-block;
  border-bottom: 2px solid #07348b;
  padding: 0 0 5px;
  color: #333;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
}
@media screen and (max-width: 750px) {
  #main .sectionTitle_s {
    font-size: 4.2666666667vw;
    line-height: 1.5;
  }
}
#main .sNav {
  margin: 125px 0 0;
}
@media screen and (max-width: 750px) {
  #main .sNav {
    margin: 13.3333333333vw 0 0;
  }
}
#main .sNav ul {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  #main .sNav ul {
    flex-direction: column;
    gap: 2.6666666667vw;
  }
}
#main .sNav li {
  width: 312px;
}
@media screen and (max-width: 750px) {
  #main .sNav li {
    width: 100%;
  }
}
#main .sNav a {
  display: block;
  box-sizing: border-box;
  height: 140px;
  padding: 31px 9px 0 22px;
  position: relative;
  background: #fff linear-gradient(#00549E, #00549E) 0 27px/4px 23px no-repeat;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 750px) {
  #main .sNav a {
    height: auto;
    padding: 5.3333333333vw;
    background-position: 0 5.3333333333vw;
    background-size: 0.6666666667vw 5.3333333333vw;
  }
}
#main .sNav a .legend {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
@media screen and (max-width: 750px) {
  #main .sNav a .legend {
    font-size: 4.2666666667vw;
    line-height: 5.3333333333vw;
  }
}
#main .sNav a .text {
  margin: 16px 0 0;
  font-size: 14px;
  line-height: 24px;
}
@media screen and (max-width: 750px) {
  #main .sNav a .text {
    margin: 1em 0 0;
    font-size: 3.7333333333vw;
    line-height: 1.5;
  }
}
#main .sNav a .arw {
  display: grid;
  place-items: center;
  width: 28px;
  aspect-ratio: 1;
  position: absolute;
  top: 24px;
  right: 23px;
  background: #E9F0F5;
  border-radius: 50%;
  transition: background-color 0.4s;
}
@media screen and (max-width: 750px) {
  #main .sNav a .arw {
    width: 6.4vw;
    top: 4.8vw;
    right: 5.3333333333vw;
  }
}
#main .sNav a .arw svg {
  width: 28.5714285714%;
}
#main .sNav a .arw svg path {
  fill: #00549E;
  transition: fill 0.4s;
}
#main .sNav a:hover .arw {
  background: #00549E;
}
#main .sNav a:hover .arw svg path {
  fill: #fff;
}
#main .lead {
  padding: 80px 0 110px;
}
@media screen and (max-width: 750px) {
  #main .lead {
    margin: 13.3333333333vw 0 0;
    padding: 0 0 8vw;
  }
}
#main .lead .inner {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  #main .lead .inner {
    display: block;
  }
}
#main .lead .inner .image {
  width: 429px;
}
@media screen and (max-width: 750px) {
  #main .lead .inner .image {
    width: auto;
  }
}
#main .lead .inner .text {
  width: 516px;
  font-size: 16px;
  line-height: 1.875;
}
@media screen and (max-width: 750px) {
  #main .lead .inner .text {
    width: auto;
    margin: 4vw 0 0;
    font-size: 3.7333333333vw;
    line-height: 1.5714285714;
  }
}
#main .cv {
  margin: 88px 0 0;
  padding: 65px 0 68px;
  background: #E9F0F5;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333;
  text-align: center;
}
@media screen and (max-width: 750px) {
  #main .cv {
    margin: 8vw 0 0;
    padding: 8vw 5.3333333333vw;
    border-radius: 2.6666666667vw;
    font-size: 3.7333333333vw;
  }
}
#main .cv a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5555555556em;
  width: 312px;
  height: 65px;
  margin: 27px auto 0;
  background: #00549E;
  border-radius: 8px;
  color: #fff;
}
@media screen and (max-width: 750px) {
  #main .cv a {
    width: auto;
    height: 16vw;
    margin: 5.3333333333vw auto 0;
    border-radius: 1.3333333333vw;
  }
}
#main .cv a::before {
  content: "";
  display: block;
  width: 0.8888888889em;
  aspect-ratio: 16/12;
  background: url(../../common/imgs/ico-mail.svg) 50% 50%/contain no-repeat;
}
#main .merit {
  padding: 70px 0 110px;
  position: relative;
  counter-reset: sectionNo 0;
}
@media screen and (max-width: 750px) {
  #main .merit {
    padding: 8vw 0 8vw;
  }
}
#main .merit section {
  margin: 45px 0 0;
}
@media screen and (max-width: 750px) {
  #main .merit section {
    margin: 10vw 0 0;
  }
}
#main .merit section .title {
  padding: 15px 0;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  counter-increment: sectionNo;
}
@media screen and (max-width: 750px) {
  #main .merit section .title {
    padding: 2vw 0;
    font-size: 3.7333333333vw;
    line-height: 1.7142857143;
  }
}
#main .merit section .title span {
  position: relative;
}
#main .merit section .title::before {
  content: "0" counter(sectionNo);
  position: absolute;
  top: 50%;
  color: #dcdfea;
  font-size: 100px;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 1;
  transform: translate(0, -50%);
}
@media screen and (max-width: 750px) {
  #main .merit section .title::before {
    font-size: 13.3333333333vw;
  }
}
#main .merit section p,
#main .merit section ul,
#main .merit section dl {
  margin: 15px 0 0;
  font-size: 16px;
  line-height: 1.625;
}
@media screen and (max-width: 750px) {
  #main .merit section p,
#main .merit section ul,
#main .merit section dl {
    margin: 2.6666666667vw 0 0;
    font-size: 3.7333333333vw;
    line-height: 1.5;
  }
}
#main .merit section ul li,
#main .merit section dl dd {
  padding-left: 1em;
  text-indent: -1em;
}
#main .merit section ul li::before,
#main .merit section dl dd::before {
  content: "・";
}
@media screen and (max-width: 750px) {
  #main .merit section .inner:first-of-type {
    margin: 6vw 0 0;
  }
}
#main .merit section .inner:nth-of-type(odd) .title::before {
  left: -55px;
}
@media screen and (max-width: 750px) {
  #main .merit section .inner:nth-of-type(odd) .title::before {
    left: -4.6666666667vw;
  }
}
#main .merit section .inner:nth-of-type(even) .title::before {
  right: 40px;
}
@media screen and (max-width: 750px) {
  #main .merit section .inner:nth-of-type(even) .title::before {
    right: auto;
    left: -4.6666666667vw;
  }
}
#main .merit .text section:nth-of-type(even) .title::before {
  right: auto;
  left: -55px;
}
@media screen and (max-width: 750px) {
  #main .merit .text section:nth-of-type(even) .title::before {
    left: -4.6666666667vw;
  }
}
#main .merit .inner {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  #main .merit .inner {
    display: block;
  }
}
#main .merit .inner .image {
  width: 398px;
  padding: 27px 0 0;
}
@media screen and (max-width: 750px) {
  #main .merit .inner .image {
    width: auto;
    margin: 7.3333333333vw 0 0;
    padding: 0;
  }
}
#main .merit .inner .text {
  width: 570px;
}
@media screen and (max-width: 750px) {
  #main .merit .inner .text {
    width: auto;
  }
}
#main .merit .inner:nth-of-type(even) {
  flex-direction: row-reverse;
}
#main .merit.bgBlue {
  background: #f5f9fb;
}
#main .case {
  padding: 80px 0 110px;
  position: relative;
  counter-reset: sectionNo;
}
@media screen and (max-width: 750px) {
  #main .case {
    padding: 8vw 0;
  }
}
#main .case .sectionTitle ~ section {
  margin: 85px 0 0;
  counter-increment: sectionNo;
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section {
    margin: 14.6666666667vw 0 0;
  }
}
#main .case .sectionTitle ~ section > .title {
  border: 1px solid #001d7d;
  padding: 21px 0 21px 109px;
  position: relative;
  color: #001d7d;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section > .title {
    margin: 0 0 5.3333333333vw;
    padding: 2vw 0 2vw 14.6666666667vw;
    font-size: 3.7333333333vw;
    line-height: 1.7142857143;
  }
  #main .case .sectionTitle ~ section > .title.hasIcon {
    margin: 0 0 15.0666666667vw;
  }
}
#main .case .sectionTitle ~ section > .title::before {
  content: "0" counter(sectionNo);
  width: 79px;
  position: absolute;
  top: 0;
  left: 0;
  background: #001d7d;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 78px;
  text-align: center;
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section > .title::before {
    width: 10.5333333333vw;
    font-size: 4vw;
    line-height: 10.4vw;
  }
}
#main .case .sectionTitle ~ section > .title .icon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translate(0, -50%);
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section > .title .icon {
    width: 100%;
    top: calc(100% + 3.3333333333vw);
    right: 0;
    transform: none;
    text-align: right;
  }
}
#main .case .sectionTitle ~ section > .title .icon img {
  margin: 0 0 0 13px;
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section > .title .icon img {
    margin: 0 0 0 1.7333333333vw;
  }
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section > .title .icon .icon01 {
    width: 16.8vw;
  }
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section > .title .icon .icon02 {
    width: 18vw;
  }
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section > .title .icon .icon03 {
    width: 15.0666666667vw;
  }
}
#main .case .sectionTitle ~ section > .title + section {
  margin: 65px 0 0;
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section > .title + section {
    margin: 0;
  }
}
#main .case .sectionTitle ~ section > .image {
  margin: 55px 0 0;
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section > .image {
    margin: 8.6666666667vw 0 0;
  }
}
#main .case .sectionTitle ~ section section {
  display: flex;
  margin: 55px 0 0;
  align-items: flex-start;
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section section {
    display: block;
    margin: 8.6666666667vw 0 0;
  }
}
#main .case .sectionTitle ~ section section .title {
  box-sizing: border-box;
  width: 226px;
  border-left: 3px solid #001d7d;
  padding: 12px 0 12px 24px;
  color: #001d7d;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section section .title {
    width: auto;
    border-left-width: 0.4vw;
    padding: 0 0 0 3.4666666667vw;
    font-size: 3.7333333333vw;
    line-height: 5.3333333333vw;
  }
}
#main .case .sectionTitle ~ section section .content {
  width: 774px;
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section section .content {
    width: auto;
    margin: 2.6666666667vw 0 0;
  }
}
#main .case .sectionTitle ~ section section .content .image {
  width: 398px;
  margin: 0 0 0 31px;
  float: right;
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section section .content .image {
    width: 77.3333333333vw;
    margin: 5.3333333333vw auto;
    float: none;
  }
}
#main .case .sectionTitle ~ section section .content p,
#main .case .sectionTitle ~ section section .content ul {
  font-size: 16px;
  line-height: 1.625;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle ~ section section .content p,
#main .case .sectionTitle ~ section section .content ul {
    font-size: 3.7333333333vw;
    line-height: 1.5;
  }
}
#main .case .sectionTitle + section {
  margin: 50px 0 0;
}
@media screen and (max-width: 750px) {
  #main .case .sectionTitle + section {
    margin: 6.6666666667vw 0 0;
  }
}
#main .case.bgBlue {
  background: #f5f9fb;
}
#main .contentFtr {
  padding: 65px 0 50px;
  background: #313131;
}
@media screen and (max-width: 750px) {
  #main .contentFtr {
    padding: 9.3333333333vw 0 12vw;
  }
}
#main .contentFtr .menu {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  #main .contentFtr .menu {
    display: block;
    width: 64vw;
    margin: 0 auto;
  }
}
#main .contentFtr .menu li {
  width: 312px;
}
@media screen and (max-width: 750px) {
  #main .contentFtr .menu li {
    width: auto;
    margin: 3.3333333333vw 0 0;
  }
}
#main .contentFtr .menu li img {
  max-width: 100%;
}
#main .contentFtr .btn {
  display: block;
  box-sizing: border-box;
  width: 200px;
  margin: 45px auto 0;
  border: 1px solid #fff;
  background: url("../../common/imgs/arrow01.png") calc(100% - 21px) 50% no-repeat;
  border-radius: 25px;
  color: #fff;
  line-height: 48px;
  text-align: center;
}
@media screen and (max-width: 750px) {
  #main .contentFtr .btn {
    width: 34.6666666667vw;
    margin: 7.3333333333vw auto 0;
    background-position: calc(100% - 2.6666666667vw) 50%;
    background-size: 2.4vw auto;
    border-radius: 4vw;
    font-size: 3.2vw;
    line-height: calc(8vw - 2px);
  }
}
/*# sourceMappingURL=unique.css.map */